// @import "../../scss/custom.scss";

// .contact-us {
//   width: 90%;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-evenly;
//   padding: 2rem;
//   flex: 1 1;
//   color: white;


//   @include responsive($tablet-portrait){
//     flex-direction: column;
//     padding: 2rem 1rem;
//   }

//   .contact-message,
//   .phone-address {
//     flex:1;
//     margin: 1rem;

//     @include responsive($tablet-portrait){
//       margin: 1rem 0;
//     }
  
//   }

//   .phone-address{

//     display: flex;
//     flex-direction: column;
//     align-items: center;

//     .location-box {
//       width: 90%;
//       margin: 1rem 0;
//       background-color: white;

//       iframe {
//         border: 0;
//         width: 100%;
//         height: 350px;
//       }
//     }

//     .address, .phone{
//       width: 90%;
//       margin: 1rem;

//       h3{
//         margin-bottom: 12px;
//         font-size: 25px;
//       }

//       h5{
//         font-size: 17px;
//         margin: 7px 0;
//         font-weight: 500;
  
//         @include responsive($phone){
//           font-size: 15px;
//         }
  
//         @include responsive($small-phone){
//           font-size: 12px;
//         }
//       }
    
//     }
//   }

//   .contact-message{
//     display: flex;
//     flex-direction: column;
//     align-items: center;

//     .input {
//       height: 3rem;
//       width: 87%;
//       margin: 1rem;
//       padding: 0 0.5rem;
//       font-family: "Raleway", sans-serif;
//       align-items: flex-start;
//     }
    
//     .textarea-message {
//       height: 15rem;
//       width: 87%;
//       margin: 1rem;
//       padding: 0.5rem;
//       font-family: "Raleway", sans-serif;
//       align-items: flex-start;
//     }

//     .btn{
//       margin: 1rem 0;
//     }
//   }

// }
