.contact-us {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 6rem 2rem 2rem 2rem;
  flex: 1 1;
  color: white;
}

.contact-message,
.phone-address {
  margin: 1rem;
}

.location-box {
  width: 100%;
  margin: 2rem 0;
  background-color: white;
}

iframe {
  border: 0;
  width: 100%;
  height: 350px;
}

.input {
  height: 3rem;
  width: 90%;
  margin: 1rem 0;
  padding: 0 0.5rem;
  font-family: "Raleway", sans-serif;
  align-items: flex-start;
}

.textarea-message {
  height: 10rem;
  width: 90%;
  margin: 1rem 0;
  padding: 0.5rem;
  font-family: "Raleway", sans-serif;
  align-items: flex-start;
}

.get-in-touch {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
}

@media screen and (max-width: 860px) {
  .contact-us {
    flex-direction: column;
  }

  .location-box {
    width: 80%;
  }
}

@media screen and (max-width: 400px) {
  .contact-us {
    padding: 6rem 1rem 2rem 1rem;
  }
  .contact-message,
  .phone-address {
    margin: 0;
  }
}
