@import "../../scss/custom.scss";

.announcements-page {
  p {
    width: 100%;
    padding: 2rem;
    color: $accent2;
    background: $background;
    border-top: 1px solid $accent;
    border-bottom: 1px solid $accent;
  }
}
