.landing {
  .large-header {
    position: relative;
    width: 100%;
    background: #333;
    background-image: url("../../assets/Landing/pexels-pixabay-414171.jpg");
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: 1;
    .main-title {
      //width: 0%;
      position: absolute;
      margin: 0;
      padding: 1rem 3rem;
      border-radius: 1rem;
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
      color: #f9f1e9;
      text-align: center;
      font-size: 3rem;
      top: 47.5%;
      left: 50%;
      -webkit-transform: translate3d(-50%, -47.5%, 0);
      transform: translate3d(-50%, -47.5%, 0);
      img {
        width: 135px;
        height: auto;
      }
      .thin {
        font-weight: 200;
      }
    }
  }
}
