@import "../../scss/custom.scss";
@import "../Home/Parallax.scss";

.landing {
  .parallax-wrap {
    .parallax-inner {
      background-image: url("../../assets/Landing/pexels-pixabay-414171.jpg");
    }
  }
  .large-header {
    position: relative;
    width: 100%;
    background: #333;
    // background-image: url("../../assets/Landing/pexels-pixabay-414171.jpg");
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: 1;
    .main-title {
      position: absolute;
      margin: 0;
      padding: 2rem 3rem;
      border-radius: 3rem;
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
      color: #f9f1e9;
      text-align: center;
      font-size: 3rem;
      top: 47.5%;
      left: 50%;
      -webkit-transform: translate3d(-50%, -75%, 0);
      transform: translate3d(-50%, -75%, 0);

      img {
        width: 135px;
        height: auto;
        margin-bottom: 1rem;
      }
      p {
        font-size: large;
        margin-top: 1rem;
      }
      button {
        background-color: transparent;
        padding: 0.5rem 3rem;
        border-radius: 3rem;
        border-color: $accent;
        cursor: pointer;
        margin-bottom: 1rem;
        color: white;
        outline: none;
      }
      .thin {
        font-weight: 200;
      }
    }
  }
}
