@import "../../scss/custom.scss";

// .slider {
//   height: 80vh;
//   // top: -40vh;
//   @include responsive($tablet-landscape) {
//     height: 50vh;
//   }
//   @include responsive($tablet-portrait) {
//     height: 50vh;
//   }
//   @include responsive($phone) {
//     height: 62.5vh;
//   }
// }

.threeD {
  width: 100%;
  min-height: 35rem;
  @include responsive($tablet-landscape) {
    min-height: 30rem;
  }
  @include responsive($tablet-portrait) {
    min-height: 22rem;
  }
  @include responsive($phone) {
    min-height: 12rem;
  }
}
