@import "../../scss/custom.scss";
@import "../../pages/Home/Parallax.scss";

.page {
  background-image: $black;
  .members-wraps {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    flex-wrap: wrap;
    @include responsive($tablet-portrait) {
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: flex-start;
    }
    @include responsive($phone) {
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: flex-start;
    }
    .member {
      flex-basis: calc(100vw / 8);
      width: max-content;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 2.5rem;
      @include responsive($tablet-portrait) {
        flex-basis: calc(100vw / 3);
        margin: 0;
        padding: 0 2rem;
      }
      @include responsive($phone) {
        flex-basis: 50%;
        margin: 0;
        padding: 0 1rem;
      }
      img {
        width: 280px;
        height: 280px;
        border-radius: 0.8rem;
        @include responsive($tablet-landscape) {
          width: 160px;
          height: 160px;
        }
        @include responsive($tablet-portrait) {
          // margin-right: 2rem;
          width: 120px;
          height: 120px;
          margin-top: 2rem;
        }
        @include responsive($phone) {
          width: 150px;
          height: 150px;
          margin-top: 1.5rem;
        }
      }
      h3 {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        color: $accent;
        @include responsive($tablet-landscape) {
          text-align: center;
        }
        @include responsive($tablet-portrait) {
          text-align: center;
        }
        @include responsive($phone) {
          font-size: medium;
          margin-bottom: 0.2rem;
          padding: 0;
          text-align: center;
        }
      }
      h5 {
        font-weight: lighter;
        color: white;
        @include responsive($tablet-landscape) {
          text-align: center;
        }
        @include responsive($tablet-portrait) {
          margin-bottom: 1.5rem;
          text-align: center;
        }
        @include responsive($phone) {
          font-size: small;
          margin-top: 0;
          padding: 0;
          margin-bottom: 1rem;
          text-align: center;
        }
      }
    }
  }
}
