@import "../../scss/custom.scss";
@import "../../pages/Home/Parallax.scss";

.page {
  background-image: $black;
  width: 100%;
  .members-wraps {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    padding: 0 3rem 3rem;
    flex-wrap: wrap;
    margin-top: 1rem;
    @include responsive($tablet-portrait) {
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: flex-start;
    }
    @include responsive($phone) {
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: flex-start;
    }
    .MuiCard-root {
      margin-top: 2rem;
      .details {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 1.25rem;
        h1 {
          color: $accent;
          font-weight: normal;
        }
        h4 {
          font-weight: normal;
          color: #919191;
          margin-top: 0.5rem;
        }
      }
    }
  }
}

.ack {
  width: 100%;
  padding: 0.5rem 4rem 2.5rem;
  li {
    margin-bottom: 2.2rem;
    line-height: 1.8rem;
  }
}
