@import "../../scss/custom.scss";

.all-type1-posts {
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

  @include responsive($phone) {
    justify-content: center;
  }
}

.post-card {
  margin-bottom: 1.5rem;
  width: 45vw;
  height: auto;
  background: $accent3;
  @include responsive($tablet-portrait) {
    width: 100vw;
  }
  @include responsive($phone) {
    width: 90vw;
  }
  .title {
    padding: 1.5rem 1rem;
    .details {
      h1 {
        color: $accent;
        margin-bottom: 0.5rem;
      }
    }
  }
  .body {
    p {
      padding: 1.5rem 1rem;
      line-height: 1.8rem;
    }
  }
  .actions {
    padding: 0rem 1rem 2rem;
    a {
      color: $accent3;
      text-decoration: none;
    }
  }
  img {
    width: 100%;
  }
}

.post2-container {
  width: 46vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 1.5rem;
  @include responsive($tablet-portrait) {
    width: 44vw;
  }
  @include responsive($phone) {
    width: 90vw;
  }
  p {
    background: none;
    border: none;
    padding: 0;
    color: none;
  }
  .left {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: $accent3;
    padding: 0.5rem 0;
    //border-right: 1px solid $accent;
    .img-container {
      background: $accent3;
      padding: 1rem 1.5rem;
      img {
        width: 50px;
        height: 50px;
      }
    }
    .title-details {
      width: 100%;
      h2 {
        font-size: x-large;
        color: $accent;
      }
      .post-date {
        color: wheat;
        font-size: x-small;
        padding-top: 0.3rem;
      }
    }
  }
  .line {
    width: 100%;
    height: 1px;
    background: $accent;
    //margin: 1rem 0;
    padding-right: 1rem;
  }
  .right {
    width: 100%;
    background: $accent3;
    height: 100%;
    padding: 0rem 1rem;
    padding-bottom: 0;
    .post-desc {
      padding: 1.5rem 0.5rem 0;
      color: white;
    }
    .action-btn-container {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 1.5rem 0 1.5rem;
      a {
        text-decoration: none;
      }
      .register {
        background: $accent2;
        @include responsive($tablet-portrait) {
          font-size: x-small;
        }
        @include responsive($phone) {
          font-size: xx-small;
        }
      }
      .view {
        background: $accent;
        color: white;
        @include responsive($tablet-portrait) {
          font-size: x-small;
        }
        @include responsive($phone) {
          margin-left: 0.6rem;
          font-size: xx-small;
        }
      }
    }
  }
}

.gallery-posts {
  width: 100%;
}
