@import "../../../scss/custom.scss";

.admin-activities {
  .post-content {
    width: 100%;
    background: $accent3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    .tf-wrapper {
      width: 95%;
      margin: 1rem 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .input {
        width: 100%;
        margin-left: 1.5rem;
      }
    }
    .actions {
      margin: 1.5rem 0;
      //padding-right: 1rem;
      width: 98%;
      display: flex;
      justify-content: center;
    }
  }
}

.paper {
  width: 100%;
  background: $accent3 !important;
  margin: 1rem 0;
  padding: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-select {
  width: 100%;
  margin-left: 1.5rem;
}

.activities-create {
  .wrapper {
    display: grid;
    grid-template-columns: 48% 48%;
    justify-content: space-between;
    align-items: flex-start;
    @include responsive($phone) {
      grid-template-columns: 100%;
      justify-content: center;
      align-items: center;
    }
    .post-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .preview-title {
        width: 100%;
        padding: 1.25rem;
        background: $accent3;
        color: white;
        font-size: x-large;
        font-weight: bold;
        margin-bottom: 1rem;
      }
      .actions {
        width: 95%;
        display: flex;
        justify-content: space-between;
        @include responsive($tablet-landscape) {
          flex-direction: column;
          align-items: center;
        }
        @include responsive($tablet-portrait) {
          flex-direction: column;
          align-items: center;
        }
        @include responsive($phone) {
          flex-direction: column;
        }
        .tf-wrapper1 {
          margin-left: 3rem;
          @include responsive($tablet-landscape) {
            margin: 0;
            width: 100%;
            .upload-button {
              width: 100%;
              margin-bottom: 1.5rem;
            }
          }
          @include responsive($tablet-portrait) {
            margin: 0;
            width: 100%;
            .upload-button {
              width: 100%;
              margin-bottom: 1.5rem;
            }
          }
          @include responsive($phone) {
            margin: 0;
            .upload-button {
              width: 100%;
              margin-bottom: 1.5rem;
            }
          }
        }
        @include responsive($tablet-landscape) {
          .main-action {
            width: 100%;
            display: flex;
            justify-content: space-between;
          }
        }
        @include responsive($tablet-portrait) {
          .main-action {
            width: 100%;
            display: flex;
            justify-content: space-between;
          }
        }
        @include responsive($phone) {
          .main-action {
            width: 100%;
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }
    .preview {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: hidden;
      @include responsive($phone) {
        margin-top: 1.5rem;
      }
      .preview-title {
        width: 100%;
        padding: 1.25rem;
        background: $accent3;
        color: white;
        font-size: x-large;
        font-weight: bold;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        @include responsive($phone) {
          font-size: large;
        }
      }
      .card {
        width: 100%;
        margin-top: 1rem;
        background: $accent3;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 1.5rem 0;
        .title {
          padding: 0 1.5rem;
          padding-bottom: 1.75rem;
          .details {
            h1 {
              color: $accent;
            }
            h4 {
              color: $accent2;
              font-weight: normal;
            }
            .last-reg {
              color: grey;
            }
          }
        }
        .body {
          img {
            width: 100%;
            height: auto;
          }
          p {
            padding: 1rem 1.5rem;
            line-height: 1.4rem;
          }
          .last-date {
            padding-top: 0;
          }
        }
        .actions {
          width: 100%;
          padding: 0.5rem 1.5rem;
        }
      }
    }
  }
}

.loading {
  width: 100%;
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-dialog-content-actions {
  padding: 1rem 0 2rem 1.6rem !important;
  @include responsive($phone) {
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    .tf-wrapper1 {
      width: 100%;
      .upload-button {
        width: 100%;
      }
      margin-top: 1rem;
    }
    .main-actions {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding-bottom: 1rem;
      .cancel-button {
        margin: 1rem 0 !important;
      }
    }
  }
}

.ml {
  margin-left: 1.5rem !important;
  @include responsive($phone) {
    margin: 0 !important;
  }
}

.mla {
  margin-left: auto !important;
  @include responsive($phone) {
    margin: 0 !important;
  }
}
