@import "./Parallax.scss";
@import "../../scss/custom.scss";

.page {
  section {
    width: 100%;
    color: white;
  }
  .black {
    .parallax-wrap {
      .parallax-inner {
        background: $black;
      }
    }
  }
  .about {
    background: inherit;
    .content {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      div {
        padding: 3rem 2rem;
        width: 100%;
        height: 100%;
      }
      .title {
        flex-basis: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        @include responsive($tablet-portrait) {
          flex-basis: 25%;
        }
        h1 {
          width: 100%;
          font-size: 2rem;
          text-transform: uppercase;
          font-weight: bold;
          text-align: center;
          color: $accent;
          @include responsive($tablet-portrait) {
            font-size: 1.7rem;
          }
        }
        img {
          margin-top: 1rem;
          width: 60%;
        }
      }
      .body {
        flex-basis: 85%;
        font-size: large;
        line-height: 1.8rem;
        @include responsive($tablet-portrait) {
          flex-basis: 80%;
        }
      }
    }
  }
  .activities {
    .parallax-wrap {
      .parallax-inner {
        background-image: url("../../assets/Landing/pexels-pixabay-414171.jpg");
      }
    }
  }
  .partners-section {
    background: inherit;
    .content {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      div {
        padding: 3rem 2rem;
        width: 100%;
        height: 100%;
      }
      .title {
        flex-basis: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        @include responsive($tablet-portrait) {
          flex-basis: 25%;
        }
        h1 {
          width: 100%;
          font-size: 2rem;
          text-transform: uppercase;
          font-weight: bold;
          text-align: center;
          color: $accent;
          @include responsive($tablet-portrait) {
            font-size: 1.7rem;
          }
        }
        img {
          margin-top: 1rem;
          width: 60%;
        }
      }
      .body {
        flex-basis: 85%;
        font-size: large;
        line-height: 1.8rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @include responsive($tablet-portrait) {
          flex-basis: 80%;
        }
        p {
          width: 100%;
          text-align: left;
        }
        .partners {
          display: flex;
          justify-content: space-between;
          margin-top: 2rem;
          padding-right: 3rem;
          img {
            width: 150px;
            height: 150px;
            border-radius: 0.8rem;
            //margin-right: 4rem;
          }
        }
      }
    }
  }
  .join-us {
    .parallax-wrap {
      .parallax-inner {
        background-image: url("../../assets/Landing/pexels-pixabay-414171.jpg");
      }
    }
  }
  .team {
    background: inherit;
  }
  .education {
    .parallax-wrap {
      .parallax-inner {
        background-image: url("../../assets/Landing/pexels-pixabay-414171.jpg");
      }
    }
  }
  .testimonials {
    background: inherit;
  }
  .gallery {
    .parallax-wrap {
      .parallax-inner {
        background-image: url("../../assets/Landing/pexels-pixabay-414171.jpg");
      }
    }
  }
  .contactus {
    background: inherit;
  }
}
