.nfa {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  img {
    padding: 3rem 0.8rem;
    height: 60vh;
    width: auto;
  }
  h1 {
    width: 100%;
    text-align: center;
  }
  .btn {
    text-decoration: none;
    color: white;
    border: 1px solid orange;
    padding: 0.8rem 2rem;
  }
}
