@import "../../../scss/custom.scss";

.dashboard-page {
  .all-admin-cards {
    margin-top: 1.5rem;
    width: 100%;
    display: flex;
    padding: 1.5rem 2rem;
    justify-content: space-around;
    align-items: center;
    @include responsive($tablet-landscape) {
      flex-wrap: wrap;
      justify-content: space-around;
      margin-top: 1rem;
    }
    @include responsive($tablet-portrait) {
      flex-wrap: wrap;
      justify-content: space-around;
      margin-top: 0;
    }
    @include responsive($phone) {
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 0;
    }
    .card {
      border-bottom: 2px solid $accent;
      border-radius: 0.5rem;
      width: 18rem;
      background: $background;
      height: max-content;
      overflow: hidden;
      text-decoration: none;
      @include responsive($tablet-portrait) {
        margin: 1rem auto;
      }
      @include responsive($phone) {
        margin: 1rem auto;
      }
      img {
        width: 18rem;
        height: 16rem;
        padding: 1.5rem;
        // background-image: linear-gradient(
        //     22.5deg,
        //     rgba(242, 242, 242, 0.03) 0%,
        //     rgba(242, 242, 242, 0.03) 16%,
        //     rgba(81, 81, 81, 0.03) 16%,
        //     rgba(81, 81, 81, 0.03) 26%,
        //     rgba(99, 99, 99, 0.03) 26%,
        //     rgba(99, 99, 99, 0.03) 73%,
        //     rgba(43, 43, 43, 0.03) 73%,
        //     rgba(43, 43, 43, 0.03) 84%,
        //     rgba(213, 213, 213, 0.03) 84%,
        //     rgba(213, 213, 213, 0.03) 85%,
        //     rgba(125, 125, 125, 0.03) 85%,
        //     rgba(125, 125, 125, 0.03) 100%
        //   ),
        //   linear-gradient(
        //     22.5deg,
        //     rgba(25, 25, 25, 0.03) 0%,
        //     rgba(25, 25, 25, 0.03) 54%,
        //     rgba(144, 144, 144, 0.03) 54%,
        //     rgba(144, 144, 144, 0.03) 60%,
        //     rgba(204, 204, 204, 0.03) 60%,
        //     rgba(204, 204, 204, 0.03) 76%,
        //     rgba(37, 37, 37, 0.03) 76%,
        //     rgba(37, 37, 37, 0.03) 78%,
        //     rgba(115, 115, 115, 0.03) 78%,
        //     rgba(115, 115, 115, 0.03) 91%,
        //     rgba(63, 63, 63, 0.03) 91%,
        //     rgba(63, 63, 63, 0.03) 100%
        //   ),
        //   linear-gradient(
        //     157.5deg,
        //     rgba(71, 71, 71, 0.03) 0%,
        //     rgba(71, 71, 71, 0.03) 6%,
        //     rgba(75, 75, 75, 0.03) 6%,
        //     rgba(75, 75, 75, 0.03) 15%,
        //     rgba(131, 131, 131, 0.03) 15%,
        //     rgba(131, 131, 131, 0.03) 18%,
        //     rgba(110, 110, 110, 0.03) 18%,
        //     rgba(110, 110, 110, 0.03) 37%,
        //     rgba(215, 215, 215, 0.03) 37%,
        //     rgba(215, 215, 215, 0.03) 62%,
        //     rgba(5, 5, 5, 0.03) 62%,
        //     rgba(5, 5, 5, 0.03) 100%
        //   ),
        //   linear-gradient(90deg, #ffffff, #ffffff);
        background: darken($accent3, 6%);
      }
      .card-content {
        h2 {
          padding: 2rem 0 0.5rem;
          color: $accent2;
        }
        p {
          line-height: 1.35rem;
          padding-bottom: 1.5rem;
        }
        padding: 0 2rem;
        padding-bottom: 1rem;
        font-size: small;
        color: #919191;
        border-top: 2.5px solid $accent;
      }
    }
  }
}
