@import "../../scss/custom.scss";

.customHeading {
  width: 100%;
  background-size: 100vw auto;
  background-repeat: no-repeat;
  background-position: 0px -17rem;
  overflow-x: hidden;
  // border-bottom: 2px solid $accent;
  @include responsive($phone) {
    background-size: auto;
  }
  .blur-bg {
    width: 100%;
    height: 100%;
    padding: 6rem 0 1.5rem 2rem;
    @include responsive($tablet-portrait) {
      padding: 4rem 0 2rem 2rem;
    }
    @include responsive($phone) {
      padding: 3rem 0 2rem 1.5rem;
    }
    .title {
      font-family: "Raleway", sans-serif;
      color: white;
      padding: 0;
      margin: 0;
      //text-transform: uppercase;
      font-size: 3.3rem;
      @include responsive($phone) {
        font-size: 2rem;
      }
    }
  }
}
