@import "../../scss/custom.scss";

.anu-village {
  width: 100%;
  display: flex;
  justify-content: center;
  .text {
    width: 100%;
    justify-content: center;
    padding: 1.5rem 0;
    p {
      font-size: 18px;
      line-height: 27px;
      padding: 0.5rem 2rem;
      text-align: justify;

      @include responsive($tablet-portrait) {
        margin: 1rem 0;
      }

      @include responsive($phone) {
        font-size: 15px;
        line-height: 20px;
        margin: 1rem 0;
      }

      @include responsive($small-phone) {
        font-size: 12px;
        line-height: 17px;
        margin: 1rem 0;
      }
    }
    img {
      padding: 1.5rem 2rem;
      width: 100%;
    }
  }
}
