.navbar {
  background: transparent;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: fixed;
  width: 100vw;
  transition: all 0.5s ease;

  .main-title {
    margin: 0;
    padding: 0;
    color: #f9f1e9;
  }

  .main-title .thin {
    font-weight: 200;
  }
}

.navbar.active {
  background: linear-gradient(
    90deg,
    rgb(110, 94, 254) 0%,
    rgba(73, 63, 252, 1) 100%
  );
  transition: all 0.5s ease;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(8, auto);
  grid-gap: 30px;
  list-style: none;
  text-align: center;
  width: 85vw;
  justify-content: end;
  margin: 0;
  padding: 0;
}

.nav-links {
  font-family: "Raleway", sans-serif;
  padding: 10px;
  color: white;
  text-decoration: none;
  padding: 0.5rem, 0.5rem;
  font-size: 17px;
  transition: all 0.2s ease-out;
}

.nav-links:hover {
  font-size: 19px;
  color: rgb(92, 170, 92);
  transition: all 0.2s ease-out;
}

.la-bars {
  color: white;
}

.la-times {
  color: white;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 1156px) {
  .navbar {
    position: fixed;
  }

  .nav-menu {
    background-color: #73737373;
    display: flex;
    flex-direction: column;
    grid-gap: 0px;
    width: 100vw;
    position: absolute;
    top: 80px;
    left: -100%;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    font-size: 19px;
    color: rgb(92, 170, 92);
    transition: all 0.2s ease-out;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    position: absolute;
    z-index: 10;
  }

  .nav-links {
    text-align: center;
    padding: 1.2rem 0;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #73737373;
    border-radius: 0;
    font-size: 19px;
    color: rgb(92, 170, 92);
    transition: all 0.2s ease-out;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
}
