@import "../../scss/colors";
@import "../../scss/mediaQueries";

.navbar {
  background: $primary;
  //background-image: url("../../assets/Footer/footer-soil.jpeg");
  height: 80px;
  width: 100vw;
  position: fixed;
  .black-fill {
    width: 100%;
    height: 100%;
    display: flex;
    //background-color: rgba($color: #000000, $alpha: 0.4);
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    transition: all 0.5s ease;
    .name {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 75px;
        height: auto;
        margin: 0 1.25rem 0 1.5rem;
      }
      .main-title {
        width: max-content;
        margin: 0;
        //margin-top: 0.5rem;
        padding: 0;
        .thin {
          font-weight: 200;
        }
      }
    }
    .menu-icon {
      display: none;
      @include responsive($combo) {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
      }
    }
    .nav-menu {
      width: 100%;
      height: 100%;

      display: grid;
      grid-template-columns: repeat(7, auto);
      grid-gap: 30px;
      list-style: none;
      text-align: center;
      justify-content: end;
      align-items: center;
      margin: 0;
      margin-right: 1.25rem;
      padding: 0;
      @include responsive($combo) {
        background-color: #73737373;
        display: flex;
        flex-direction: column;
        grid-gap: 0px;
        width: 100vw;
        height: max-content;
        position: absolute;
        z-index: 1000 !important;
        top: 80px;
        left: -100%;
        transition: left 0.5s ease;
      }
      li {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        .nav-links {
          font-family: "Raleway", sans-serif;
          padding: 10px;
          color: white;
          text-decoration: none;
          font-size: 17px;
          transition: all 0.2s ease-out;
          z-index: 999 !important;
          @include responsive($combo) {
            text-align: center;
            padding: 1.2rem 0;
            width: 100%;
            display: block;
          }
        }
        a:hover {
          cursor: pointer !important;
        }
        .nav-links:hover {
          color: $accent;
          font-size: 19px;
          cursor: pointer;
          transition: all 0.2s ease-out;
        }
        .btn {
          text-decoration: none;
          color: white;
          background-color: $accent;
          padding: 0.5rem 2rem;
          border-radius: 1.5rem;
          font-size: medium;
          box-shadow: 1px;
        }
        .btn:hover {
          color: white;
          cursor: pointer;
          background: lighten($color: $accent, $amount: 5%);
          font-size: 17.5px;
          transition: all 0.2s ease-out;
        }
      }
    }
  }
}

.navbar.active {
  background: $header-color;
  transition: all 0.5s ease;
}

.nav-menu.active {
  font-size: 19px;
  color: rgb(92, 170, 92);
  transition: all 0.2s ease-out;
  left: 0;
  opacity: 1;
  transition: all 0.5s ease;
  position: absolute;
  z-index: 10;
}
