@import "../../scss/custom.scss";
@import "../Home/Parallax.scss";

.landing {
  .parallax-wrap {
    .parallax-inner {
      background-image: url("../../assets/Landing/3.jpg");
    }
  }
  .large-header {
    position: relative;
    width: 100%;
    background: #333;
    // background-image: url("../../assets/Landing/pexels-pixabay-414171.jpg");
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: 1;
    .main-title {
      position: absolute;
      margin: 0;
      padding: 2rem 1rem;
      border-radius: 1.5rem;
      -webkit-backdrop-filter: blur(2.5px);
      backdrop-filter: blur(2.5px);
      color: #f9f1e9;
      text-align: center;
      font-size: 3rem;
      top: 47.5%;
      left: 50%;
      -webkit-transform: translate3d(-50%, -75%, 0);
      transform: translate3d(-50%, -75%, 0);
      @include responsive($phone) {
        padding: 2rem;
        font-size: 2.5rem;
        width: 100%;
        border-radius: 0;
      }
      img {
        width: 140px;
        height: auto;
        margin-bottom: 0.5rem;
        // border-bottom-right-radius: 25%;
        // border-bottom-left-radius: 25%;
      }
      p {
        font-size: large;
        margin-top: 1rem;
      }
      button {
        background-color: transparent;
        padding: 0.5rem 3rem;
        border-radius: 3rem;
        border-color: $accent;
        cursor: pointer;
        margin-bottom: 1rem;
        color: white;
        outline: none;
      }
      .thin {
        font-weight: 200;
      }
    }
    .main-title:hover {
      -webkit-backdrop-filter: blur(4px);
      backdrop-filter: blur(4px);
      transition: all 0.5s ease-in;
    }
  }
}
