@import "../../scss/custom.scss";

.footer {
  position: absolute;
  background: url("../../assets/Footer/footer-soil.jpeg");
  font-size: 15px;
  line-height: 24px;
  color: #737373;
  margin-top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
  border-top: 2px solid $accent;
  .black-fill {
    width: 100%;
    padding: 6rem 0 0;
    background: rgba($color: #000000, $alpha: 0.5);
    .footer-information-container {
      display: flex;
      align-items: center;
      justify-content: space-around;
      color: #afafaf;
      @include responsive($tablet-portrait) {
        align-items: flex-start;
      }
      @include responsive($phone) {
        flex-direction: column;
        margin: 1rem;
      }
      .hr-slash {
        margin: 1rem 0;
        @include responsive($phone) {
          margin: 1.5rem 0;
        }
      }
      .icon-container {
        height: 3rem;
        width: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $primary;
        border-radius: 1.5rem;
        text-decoration: none;
        margin: 0;
        margin-right: 1rem;
        padding: 0;
        .la-envelope,
        .la-facebook-f,
        .la-telegram,
        .la-twitter {
          font-size: 1.5rem;
          color: white;
        }

        .la-instagram {
          font-size: 2rem;
          color: white;
        }
      }
      .icon-container:hover {
        background-color: white;
        transition: all 0.2s ease;
        .la-envelope,
        .la-facebook-f,
        .la-telegram,
        .la-twitter {
          font-size: 2rem;
          transition: all 0.2s ease;
        }
        .la-facebook-f {
          color: hsl(220, 46%, 48%);
        }
        .la-instagram {
          color: rgb(245, 33, 252);
          font-size: 2.5rem;
          transition: all 0.2s ease;
        }
        .la-envelope {
          color: rgb(194, 0, 0);
        }
        .la-telegram {
          color: #0084c5;
        }
        .la-twitter {
          color: #1e9cea;
        }
      }
      .contact-info-column {
        .multiple-slashes {
          display: flex;
          align-items: center;
          .extra-slash {
            display: block;
            @include responsive($tablet-portrait) {
              display: none;
            }
            @include responsive($phone) {
              display: none;
            }
          }
        }
        .contact-info-row-container {
          display: flex;
          align-items: center;
          flex-direction: row;
          @include responsive($tablet-portrait) {
            flex-direction: column;
            align-items: start;
          }
          @include responsive($phone) {
            flex-direction: column;
            align-items: start;
            margin-bottom: 2rem;
          }
          .contact-info-row {
            display: flex;
            align-items: center;
            margin-right: 2rem;
            @include responsive($tablet-portrait) {
              margin: 0;
            }
            @include responsive($phone) {
              margin: 0;
            }
          }
        }
        .tele {
          margin-left: 2rem;
          @include responsive($tablet-portrait) {
            // margin-left: 0;
            margin-top: 1.5rem !important;
          }
          @include responsive($phone) {
            margin-left: 0;
            margin-top: 1.5rem !important;
          }
        }
      }
      .follow-us-icons-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
    .copyright-line {
      color: white;
      height: 15px;
      width: 100%;
      background: #000;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: small;
      margin: 0;
      margin-top: 5rem;
      padding: 1rem 0;
    }
  }
}
