@import "../../../scss/custom.scss";

.ms-page {
  .description {
    width: 100%;
    margin: 1rem;
    padding: 0 2rem;
    padding-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    overflow: hidden;
    img {
      width: 40rem;
      height: auto;
    }
    article {
      width: 100%;
      height: 100%;
      // padding: 0 3rem;
      line-height: 1.8rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      h1 {
        margin-bottom: 1.5rem;
        font-size: xx-large;
        color: $accent2;
      }
    }
  }
  .all-cards {
    width: 100%;
    display: flex;
    padding: 1.5rem 2rem;
    justify-content: space-between;
    align-items: stretch;
    .MuiCard-root {
      border-bottom: 2px solid $accent;
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
      .card-content {
        h1 {
          padding: 1rem 0 0.5rem;
          color: $accent2;
        }
        ul {
          li {
            padding: 0.5rem;
            a {
              color: #919191;
              text-decoration: none;
              border-bottom: 1px solid $accent;
            }
            a:hover {
              color: $accent;
            }
          }
        }
        padding: 0 2rem;
        padding-bottom: 1rem;
        font-size: small;
        color: #919191;
        border-top: 2px solid $accent;
      }
    }
  }
  .admissions {
    width: 100%;
    display: flex;
    padding: 1.5rem 2rem;
    flex-direction: column;
    align-items: flex-start;
    h1 {
      color: $accent2;
      padding-bottom: 1.5rem;
    }
    p {
      line-height: 1.5rem;
    }
    .all-admins {
      width: 100%;
      display: flex;
      padding: 1.5rem 0;
      justify-content: space-between;
      align-items: stretch;
      .admin {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        background: #1e1e1e;
        border-radius: 0.8rem;
        border: 1px solid $accent;
        overflow: hidden;
        width: 27rem;
        img {
          margin: 0;
          padding: 0;
          width: 150px;
          height: 150px;

          // border-radius: 50%;
        }
        .admin-details {
          padding: 1rem 1.5rem;
          .name {
            color: $accent;
            font-size: x-large;
            padding-bottom: 1rem;
            font-weight: normal;
          }
          .contact {
            margin: 0.3rem 0;
            a {
              margin-left: 0.3rem;
              color: #919191;
              text-decoration: none;
            }
          }
          .email {
            a {
              margin-left: 0.3rem;
              color: #919191;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
