@import "../../scss/custom.scss";

.about-us-page {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  .text {
    width: 100%;
    justify-content: center;
    p {
      //font-size: 18px;
      padding: 1rem;
      line-height: 2rem;
      text-align: justify;
    }
  }
}

.info {
  width: 100%;
  padding: 2rem;
  p {
    line-height: 2rem;
    b {
      color: $accent;
      display: block;
      margin-bottom: 0.5rem;
    }
  }
}

.info2 {
  width: 100%;
  padding: 2rem 0;
}

.biodiv {
  padding: 1.5rem 1rem;
  width: 100%;
}
