@import "./colors";
@import "./mediaQueries";

*,
*::before,
*::after {
  box-sizing: border-box;
}


.page {
  width: 100%;
  min-height: 100vh;
  background: $background;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6, p {
  font-family: "Raleway", sans-serif;
  color: white;
  text-decoration: none;
}

.h4 {
  padding: 0;
  margin: 0;
}

.hr-slash {
  height: 5px;
  $color: rgb(92, 170, 92);
  color: $color;
  background-image: linear-gradient(
    -45deg,
    transparent,
    transparent 25%,
    currentColor 25%,
    currentColor 50%,
    transparent 50%,
    transparent 75%,
    currentColor 75%
  );
  background-size: 10px 10px;
  width: 300px;
  border: 0px;
  text-align: left;
  margin-left: 0;
}

.hr-plain-white {
  width: 80%;
  text-align: left;
  margin-left: 0;
}

.hr-orange{
  background-color: $accent;
  width: 100vw;
  height: 4px;
}

.btn-orange {
  text-decoration: none;
  color: white;
  background-color: $accent;
  padding: 0.5rem 2rem;
  border-radius: 1.5rem;
  font-size: medium;
}
.btn-orange:hover {
  color: white;
  cursor: pointer;
  background: lighten($color: $accent, $amount: 5%);
  font-size: 17.5px;
  transition: all 0.2s ease-out;
}

@media screen and (max-width: 350px) {
  .hr-slash {
    width: 250px;
  }

  h3 {
    font-size: 15px;
  }
}
